
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,200,200italic,700,400italic,700italic" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/css/site-popup.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>


